[safe]
	directory = *
[credential]
	helper = cache
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[core]
	editor = code --wait
	longpaths = true
[fetch]
	prune = true
